@model external.Models.TBLMobile
@{
    ViewBag.Title = "Update data";
}

<h2>Update data</h2>


@using (Html.BeginForm("updatedata", "Mobile", FormMethod.Post))
{
    <div class="container">
        <div class="form-group">
            <label>Mobile name</label>
            @Html.TextBoxFor(tb => tb.m_name)
        </div>
    </div>
    <div class="container">
        <div class="form-group">
            <label>Brand</label>
            @Html.TextBoxFor(tb => tb.m_brand)
        </div>
    </div>
    <div class="container">
        <div class="form-group">
            <label>Price</label>
            @Html.TextBoxFor(tb => tb.m_price)
        </div>
    </div>
    @Html.HiddenFor(tb => tb.ID_PK)
    <div class="container">
        <button type="submit">Update</button>
    </div>

}